@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cubic11';
    src: url('./fonts/Cubic_11_1.013_R.woff2') format(woff2);
  }
}

@layer components {
  .navbar-container {
    @apply
      container
      flex
      flex-wrap
      items-center
      justify-between
      px-3
      pt-8
      pb-7
      mx-auto
      relative
      md:py-6
  }
  .navbar-logo {
    @apply
      block
      overflow-hidden
      whitespace-nowrap
      bg-no-repeat
      indent-[101%]
      bg-center
  }
  .navbar-toggler {
    @apply
      h-5
      w-[30px]
      relative;
  }
  .navbar-toggler .bar-icon {
    @apply
      before:block
      before:h-[3px]
      before:w-[30px]
      before:rounded-full
      before:bg-gray-300
      before:absolute
      before:bottom-2
      before:transition-transform
      block
      h-[3px]
      w-[30px]
      rounded-full
      bg-gray-300
      absolute
      transition-colors
      after:block
      after:h-[3px]
      after:w-[30px]
      after:rounded-full
      after:bg-gray-300
      after:absolute
      after:top-2
      after:transition-transform
  }
  .navbar-toggler.show .bar-icon {
    @apply
      before:rotate-45
      before:translate-y-2
      bg-transparent
      after:-rotate-45
      after:-translate-y-2
  }
  .navbar-collapse {
    @apply
      flex
      flex-col
      w-full
      items-start
      bg-black
      pt-3
      pl-3
      max-h-0
      overflow-hidden
      absolute
      left-0
      top-full
      transition-[padding-top,max-height]
      md:w-auto
      md:flex-row
      md:items-center
      md:static
      md:py-0
      md:max-h-screen
  }
  .navbar-collapse.show {
    @apply
      pb-7
      max-h-screen
      md:py-0
  }
  .navbar-link {
    @apply
      w-full
      py-3
      text-white
      hover:pl-4
      hover:border-white
      hover:bg-white
      hover:font-bold
      hover:text-black
      md:hover:pl-0
  }
  .navbar-link {
    @apply
      basis-full;
  }
}